*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font-family: "微软雅黑",Verdana,Geneva,Arial,Sans-serif;
	min-width: 1024px;
}
header{
	height: 50px;
	background-color: #343434;
	padding: 0 150px;
}
p{
	margin: 0;
}
.clear{
	clear: both;
}
/*英文补充*/
.background span.EN-under-line{
	width: 175px;
    height: 2px;
    background: #bfbfbf;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.scale span.en-underline {
    width: 260px;
    height: 2px;
    background: #bfbfbf;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.forum-one p.Forum-one{
	font-size: 14px;
	line-height: 25px;
	min-height: 75px;
}
.enforum{
	min-height: 527px;
}
.forum-one{
	min-height: 418px;
}
.exhibiition .en-exhibiition-right{
	width: 60%;
}
.exhibiition .en-exhibiition-left{
	width: 40%;
}
/*英文补充完*/
/* 顶部 */
.hd-left,.hd-middle,.hd-right{
	height: 100%;
	position: relative;
	float: left;
}
.hd-left{
	width: 30%;
}
.hd-middle{
	width: 40%;
}
.hd-right{
	width: 30%;
}
.hd-left a img{
	display: block;
	position: absolute;
	left: 0;
	top: 5px;
}
.hd-middle ul {
	margin-left: 30px;
}

.hd-middle ul li{
	margin: 0 20px;
	float: left;

}
.hd-middle ul li a{
	width: 100px;
	height: 30px;
	display: block;
	color: #39393a;
	text-decoration: none;
	background-color: #efda98;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	font-size: 14px;
	margin-top: 13px;
}
.hd-right ul{
	float: right;
}
.hd-right ul li{
	float: left;
}
.hd-right ul li a{
	display: block;
	position: relative;
	margin: 15px 15px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.hd-right ul li a img{
	position: absolute;
	top: 2px;
	left: -16px;
}
/* 顶部完 */


/* banner */
.banner{
	width: 100%;
	min-height: 600px;
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}
.banner .banner-text{
	left: 10%;
	top: 20%;
	position: absolute;
	padding: 15px 30px;
	min-width: 30%;
	height: auto;
	text-align: center;
	background: rgba(148,136,86,.3);
}
.banner .banner-text ul li:nth-of-type(1){
	font-size: 50px;
	color: #fff;
	letter-spacing: 3px;
}
.banner .banner-text ul li:nth-of-type(2){
	color: #fff;
	font-size: 21px;
	letter-spacing: 0px;
}
.banner .banner-text ul li:nth-of-type(3){
	color: #fff;
	font-size: 20px;
	margin-top: 15px;
	letter-spacing: 2px;
}
.banner .banner-text ul li:nth-of-type(4){
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
}

.banner-list{
	text-align: center;
	padding-top: 28%;
}

.banner-list ul li{
	display: inline-block;
}
.banner-list ul li a{
	display: block;
	width: 100px;
	height: 30px;
	color: #39393a;
	background: #efda98;
	text-decoration: none;
	line-height: 30px;
	margin: 0 20px;
	border-radius: 5px;
}
/* banner完 */

/* 内容 */
.activity{
	width: auto;
    margin: auto;
    max-width: 1024px;
    padding: 32px 32px;
}
.background h2,.scale h2,.forun-content h2,.exhibiition-school h2{
	text-align: center;
	color:#1c90ff ;
	font-size: 30px;
	font-weight: normal;
}
.background span.under-line{
	width: 120px;
	height: 2px;
	background: #bfbfbf;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}
.exhibiition-school span.under-line{
	width: 210px;
	height: 2px;
	background: #bfbfbf;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}
.scale span{
	width: 180px;
	height: 2px;
	background: #bfbfbf;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
}
.background p,.scale p{
	font-size: 15px;
	color: #39393a;
	margin: 20px 0;
	line-height: 25px;
}
.forum{
	background: #f0f0f0;
	padding-top: 0;
}
.forun-content span{
	width: 120px;
	height: 2px;
	background: #bfbfbf;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 20px;
}


.forum-one{
	width: 19%;
	background: #fff;
	text-align: center;
	padding: 15px 0;
	float: left;
	margin-right: 1%;
}
.forum-one h5{
	text-align: center;
	color: #a2a2a2;
	font-size: 16px;
}
.forum-one p{
	font-size: 16px;
	color: #000;
	line-height: 35px;
}
.forum-one img{
	width: 100%;
}
.forum-one ul{
	text-align: left;
	padding-left: 10px;
}
.forum-one ul li{
	line-height: 23px;
	font-size: 14px;
}
.forum-one ul li:nth-child(odd){
	color: #000;
}
.forum-one ul li:nth-child(even){
	color: #a2a2a2;
}
.exhibiition-left{
	width: 30%;
}
.exhibiition-left img{
	width: 100%;
}










.exhibiition-right{
	width: 68%;
	padding-left: 2%;
}
.exhibiition-left,.exhibiition-right{
	float: left;
	margin-top: 20px;
} 
.exhibiition-right p{
	font-size: 12px;
	color: #a2a2a2;
	margin: 0;
	margin-bottom: 10px;
	line-height: 20px;
}
.exhibiition-right h5{
	font-size: 14px;
	margin-bottom: 5px;
	color: #a2a2a2;
}
.exhibiition-right ul li{
	font-size: 12px;
	color:#0f78db;
	
}
.exhibiition .exhibiition-right ul li span{
	font-size: 12px;
	color:#a2a2a2;
	line-height: 18px;
}




/* 演讲嘉宾 */
.guests-box{
	margin: 50px 0;
}
.guests{
	min-height: 420px;
	width: 23%;
	margin-right: 2%;
	float: left;
	position: relative;
	background: #fff;
	margin-bottom: 20px;
	padding-top: 15px;
}
.guests-top{
	width: 100%;
	height: 100px;
}
.guests-people{
	float: left;
	width: 40%;
}
.guests-people .img1{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests.png);
	background-size: 100%;
}
.guests-people .img2{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests2.jpg);
	background-size: 100%;
}
.guests-people .img3{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests3.jpg);
	background-size: 100%;
}
.guests-people .img4{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests4.jpg);
	background-size: 100%;
}
.guests-people .img5{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests5.jpg);
	background-size: 100%;
}
.guests-people .img6{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests6.jpg);
	background-size: 100%;
}
.guests-people .img7{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-image: url(../images/guests7.jpg);
	background-size: 100%;
}
.guests-information{
	width: 55%;
	float: right;
	margin-left: 5%;
}
.guests-information p{
	color: #000 !important;
}
.guests-information p:nth-of-type(1){
	font-size: 16px;
	line-height: 30px;
}
.guests-information p:nth-of-type(2),.guests-information p:nth-of-type(3){
	font-size: 13px;
	line-height: 20px;
}
.guests p a{
	color: #000;
	text-decoration: none;
}
.guests p {
	font-size: 13px;
	line-height: 25px;
	color: #a2a2a2;
}
.guests p.information:nth-of-type(2){
	margin-top: 20px;
}
.more-speakers{
	width: 158px;
	height:53px;
	position: absolute;
	display: block;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.more-speakers p{
	font-size: 20px;
}
.schools{
	margin-top: 50px;
	width: 100%;
	height: 338px;
	background-image: url(../images/schools.jpg);
	background-size: 100%;
}
footer{
	width: 100%;
	height: 100px;
	background: #2b2b2b;
	text-align: center;
}
footer p{
	color: #cacaca;
	line-height: 100px;
}
/* 移动补充样式 */
.EN-CH{
	color: #fff;
	font-size: 12px;
	float: right;
	line-height: 50px;
	margin-right: 15px;
}
.EN-CH a{
	color: #fff;
	font-size: 12px;
}
/* 移动版 */
@media(max-width: 768px){
	.guests-people .img1,.guests-people .img2,.guests-people .img3,.guests-people .img4,.guests-people .img5,.guests-people .img6,.guests-people .img7{
		width: 60px;
		height: 60px;
	}
	footer{
		height: 70px;
	}
	footer p{
		color: #cacaca;
		line-height: 70px;
	}
	body{
		min-width: 0;
		
	}
	.hd-middle,.hd-right{
		display: none;
	}
	.hd-left a img{
		left: 40px;
		height: 20px;
		top: 15px;
	}
	header{
		padding: 0;
	}
	.hd-left{
		background-image: url(../images/nav.png);
		background-size: 20px;
		background-repeat: no-repeat;
		background-position:15px 15px;
	}
	.banner-list ul li a{
    	margin: 0 10px;
    	border-radius: 3px;
	}
	.banner-list{
		padding-top: 60%;
	}
	.banner{
		background-image: url(../images/yidong-banner.jpg);
		min-height: 300px;
	}
	.banner .banner-text{
		left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    padding: 8px 15px;
	    height: 120px;
	    width: 350px;
	    text-align: center;
	    background: rgba(148,136,86,.3)
	}
	.banner .banner-text ul li:nth-of-type(1){
		font-size: 25px;
    	letter-spacing: 3px;
	}
	.banner .banner-text ul li:nth-of-type(2){
		font-size: 12px;
	}
	.banner .banner-text ul li:nth-of-type(3){
		font-size: 12px;
	}
	.banner .banner-text ul li:nth-of-type(4){
		font-size: 10px;
		letter-spacing: -1px;
	}
	.forum-one {
	    width: 100%;
	    padding: 15px 0;
	    margin-right: 0%;
	}
	.activity {
	    width: auto;
	    margin: auto;
	    max-width: 1024px;
	    padding: 15px 50px;
	}
	.exhibiition-left {
    	width: 100%;
	}
	.exhibiition .en-exhibiition-left{
		width: 100%;
	}
	.exhibiition-right{
		width: 100%;
		padding-left: 0;
	}
	.exhibiition .en-exhibiition-right{
		width: 100%;
	}
	.guests-people .img1,.guests-people .img2,.guests-people .img3,.guests-people .img4,.guests-people .img5,.guests-people .img6,.guests-people .img7{
		margin: 0 auto;
	}
	.guests{
		width: 31%;
		margin-right: 2%;
		min-height: 220px;
		text-align: center;
		overflow: hidden;
		padding-bottom: 15px;
	}
	.guests:nth-of-type(4) .guests-information p:nth-of-type(1),.guests:nth-of-type(7) .guests-information p:nth-of-type(1){
		font-size: 14px;
		letter-spacing: -1px;
	}
	.guests:nth-of-type(3),.guests:nth-of-type(6){
		margin-right: 0%;
	}
	.guests p.information:nth-of-type(2){
		display: none;
	}
	.guests-top+p{
		display: none;
	}
	.guests-people{
		width: 100%;
	}
	.guests-information{
		width: 100%;
		margin-left: 0;
	}
	.guests-information p:nth-of-type(1){
		margin-top: 10px;
	}
	.guests-information p:nth-of-type(2), .guests-information p:nth-of-type(3){
		font-size: 10px;
		line-height: 15px;
	}
	.guests-information p:nth-of-type(2){
		margin-top: 15px;
	}
	.more-speakers p{
		font-size: 14px;
	}
	.more-speakers {
	    width: 79px;
	    height: 50px;
	}
	.more-speakers p:nth-of-type(2){
		letter-spacing: -1px;
		font-size: 10px;
	}
	.guests-box{
		margin-bottom: 0;
	}
	footer{
		margin-bottom: 50px;
	}
	footer p{
		font-size: 12px;
	}
	.schools {
	    margin-top: 50px;
	    background-repeat: no-repeat;
	    height: 400px;
	    background-image: url(../images/min-schools.jpg);
	    background-size: 100%;
	}
	.modal-dialog1 {
	   margin: 15px auto;
	}
}
@media(max-width: 320px){
	.banner-list ul li a{
		padding: 5px 10px;
    	margin: 0 10px;
    	border-radius: 3px;
	}
	.banner .banner-text{
		left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    padding: 8px 8px;
	    height: 255px;
	    width: 300px;
	    text-align: center;
	   background: rgba(0,0,0,0);
	}
		.banner .banner-text ul{
			 background: rgba(148,136,86,.3);
		}
	.banner .banner-text ul li:nth-of-type(2){
		letter-spacing: -1px;
	}
	.banner .banner-text ul li:nth-of-type(4){
		letter-spacing: -2px;
	}
}
/* 底部固定定位 */
.btn{
	padding: 0;
}
.btn:hover{
	color: #fff;
}
.bottom-fixed{
	width: 100%;
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: #4f4f4f;
	display: none;
}
.bt-fix-left{
	width: 50px;
	height: 50px;
	float: left;
	position: relative;
}
.bt-fix-left img{
	width: 30px;
	position: absolute;
	left: 10px;
	top: 10px;
}
.bt-fixed-right{
	height: 50px;
	background: #5aaf32;
	position: absolute;
	left: 50px;
	right: 0;
	bottom: 0;
}
.contact,.sign-up{
	width: 50%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 50px;
	color: #fff;
	position: relative;
	cursor: pointer;
}
.sign-up{
	background:#1779c1;
}
.fix-content{
	width: 100%;
	background: #49484d;
	position: absolute;
	right: 0;
	bottom: 50px;
	display: none;
}
.fix-content ul li a{
	color: #fff;
	text-decoration: none;
	line-height: 50px;
	margin-left: -20%;
}
/* 联系我们弹出 */
.modal-body{
	padding: 10px;
}
.popBG h1 {
    font-size: 22px;
    text-align: center;
}
.popBG h1+.FloarRight {
    font-size: 12px;
    display: block;
    float: right;
}
#join_form{
	display: block;
	padding: 20px;
	background: #ebe9ea;
}

.popBG .phone{
	text-align: center;
	margin-bottom: 10px;
}
.message{
	width: 100%;
	height: 100px;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 30%;
   	margin: 0 auto;
    line-height: 40px;
}
.popBG img{
	position: absolute;
	left: 50px;
	top: 40px;
}
.popBG h2{
	position: absolute;
	left: 80px;
	top: 20px;
	font-size: 20px;
}
.popBG h2+p{
	position: absolute;
	left: 80px;
	top: 70px;
}
#mymodal1 .success{
	min-height: 200px;
}
.closeBtn{
	position: absolute;
	right: 30px;
	bottom: -100px;
}
.following{
	min-height: 200px;
}
.following .popBG{
	min-height: 300px;
	text-align: center;
}
.following .popBG span{
	text-align: left;
	display: block;
	font-size: 12px;

}
.col-xs-6{
	padding: 0;
}
.following .popBG img.erweima{
	text-align: center;
	position: static;
	margin-top: 40px;
}
.following .popBG img.erweima+p{
	line-height: 30px;
	font-size: 16px;
	margin-top: 10px;
}
.following h2{
	text-align: center;
	clear: both;
	position: static;
}
.following .under-line{
	background: rgba(0,0,0,0.5);
	height: 2px;
	width: 90%;
	display: block;
	position: absolute;
	top: 110px;
}
@media(max-width: 768px){
	.bottom-fixed{
		display: block;
	}
}
@media (min-width: 768px){
	.modal-dialog1 {
	    width: 470px;
	    margin: 30px auto;
	}
	.modal-dialog2 {
	    width: 300px;
	    margin: 30px auto;
	}
}